%form{ :action => "/subscribe", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "email"} Updates By Email
        %input#subscribe{:type => "text", :name => "email", :class => "text"}
      %li
    %input{:type => "submit", :value => "Subscribe", :class => "button"}