%form#emailSubscribe{ :action => "/subscribe", :method => "post"}
  %fieldset
    %ol
      %li
        %input{:type => "text", :name => "email", :id => "subscribe", :class => "text"}
      %li
    %input{:type => "submit", :value => "Updates By Email", :class => "button"}
