%div.cards
  - events.each do |event|
    %div.card
      %div.card-image
        %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png", :alt => "card" }
      %div.card-header Hello
      %div.card-copy
        %p Description
    %div.card
      %div.card-image
        %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png", :alt => "card" }
      %div.card-header Hello
      %div.card-copy
        %p Description
    %div.card
      %div.card-image
        %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png", :alt => "card" }
      %div.card-header Hello
      %div.card-copy
        %p Description
    