%div.cards
  - events.each do |event|
    %a(href="https://facebook.com/events/#{events["id"]}")
      %div.card
        %div.card-header= events["name"]
        %div.card-copy
          %p lol
          %p=events["description"]
