%div.footer-logo
  %img{:src => LOGO, :alt=> SITE_NAME + " Logo"}
%div.footer-links
  %ul
    %li
      %h3 Subscribe
    %li
      = partial 'email_subscribe'
  %ul
    %li
      %h3 Hours
    - HOURS.each do |day|
      %li
        %p= day.keys.first.to_s.capitalize + ": " + day.values.first.to_s
  %ul
    %li
      %h3 Contact
    %li
      %article.vcard{:itemscope => true, :itemtype => 'http://schema.org/Organization'}
        %span.fn.org{:itemprop => 'name'}= BIZ_NAME
        %div.adr{:itemprop => 'address', :itemscope => true, :itemtype => 'http://schema.org/PostalAddress'}
          %span.street-address{:itemprop => 'streetAddress'}=BIZ_ADDRESS
          %span.locality{:itemprop => 'addressLocality'}=BIZ_CITY
          %span.region{:itemprop => 'addressRegion'}=BIZ_STATE
          %span.postal-code{:itemprop => 'postalCode'}=BIZ_ZIP
        %span.tel{:itemprop => 'telephone'}=BIZ_PHONE
%hr
%p= "&#169; " + Date.today.year.to_s + " " + BIZ_NAME
