@charset "UTF-8";

@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "hero";
@import "components/centered-navigation";
@import "components/footer";
@import "components/sliding-panel";
@import "components/side-image";
@import "components/card";

.bizinfo {
  height: 50px;
  width: 75%;
  position: absolute;
  left: 10px;
  z-index: 999999999999999;
  top: 10px;
  font-size: 90%;
}

.events {
  width: 80%;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
